@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
footer {
  margin: 80px 0 0;
  border-top: 1px solid #68A500;
  padding: 28px 0 37px;
}
footer .menu {
  font-size: 14px;
  margin: 0 auto;
}
footer .menu li a {
  color: #68A500;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 31px;
  width: 100%;
}
.logo-footer__image {
  max-width: 165px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.politics-links {
  color: #68A500;
  font-size: 10px;
  max-width: 123px;
  margin: 0 64px 0 0;
}
.politics-links:hover {
  color: #000;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-dialog {
  max-width: 400px;
}

.modal-title {
  font-weight: bold;
}

.modal-header {
  border: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
}

.modal-body {
  padding: 0;
}
.modal-body .form {
  max-width: 300px;
  margin: 0 auto;
}
.modal-body .consent {
  color: #666;
}

.modal-content {
  border: none;
  padding: 30px;
  background: rgb(237, 255, 220);
}