@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.home {
  margin: 100px 0 37px;
}
.home h1 {
  font-size: 36px;
  font-weight: normal;
  color: #fff;
  max-width: 540px;
  width: 100%;
  margin: 0 0 38px;
}

.home-image {
  position: absolute;
  right: -22px;
  bottom: 0;
  max-width: 326px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-banner {
  width: calc(100% - 22px);
  position: relative;
  border-radius: 10px;
  background: url("../img/home-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 55px 51px 47px;
}
.home-banner__content {
  position: relative;
  z-index: 1;
}

.home-box {
  max-width: 471px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 8px 7px 7px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 153px);
  padding: 0 6px 0 15px;
}
.form-search input {
  padding: 0;
  text-align: left;
}
.form-search input::-webkit-input-placeholder {
  color: #000000;
}
.form-search input::-moz-placeholder {
  color: #000000;
}
.form-search input:-ms-input-placeholder {
  color: #000000;
}
.form-search input::-ms-input-placeholder {
  color: #000000;
}
.form-search input::placeholder {
  color: #000000;
}
.form-search label {
  margin: 0;
}
.form-search button {
  background: transparent;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #5B9E44;
}
.form-search button:hover {
  fill: #FF0035;
}

.category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #F93E5E;
  border-radius: 5px;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 500;
}
.category-link::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0;
  width: 17px;
  height: 17px;
  min-width: 17px;
  background: url("../img/category-icon.svg") no-repeat center;
  background-size: 100%;
}
.category-link:hover {
  color: #fff;
  background: #5B9E44;
}

.callback-box {
  width: 100%;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 10px;
  background: rgba(237, 255, 220, 0.8);
  padding: 20px 42px 15px;
}
.callback-box h3 {
  margin: 0 0 20px;
  color: #5B9E44;
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
}

.consent {
  font-size: 8px;
  color: #5B9E44;
  text-align: center;
  opacity: 0.5;
  margin: 12px auto 0;
  max-width: 200px;
}

.link-catalog {
  margin: 0 0 42px auto;
}

.card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
}
.card-image {
  width: 100%;
  height: 229px;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body {
  position: relative;
  padding: 20px 50px 20px 16px;
}
.card .link-page {
  position: absolute;
  right: 20px;
  top: 24px;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0 0 4px;
}
.card-title:hover {
  color: #5B9E44;
}
.card:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.name-business {
  color: #666666;
  font-size: 12px;
}

.favorite-item {
  position: absolute;
  top: 13px;
  right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.list-tags {
  margin: 18px 0 0;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-tags li {
  margin: 0 5px 2px 0;
}
.list-tags li:last-child {
  margin: 0 0 2px;
}
.list-tags li a {
  color: #fff;
  background: #68A500;
  border-radius: 5px;
  padding: 4px 8px;
}
.list-tags li a:hover {
  background: #FF0035;
  color: #fff;
}

.categories {
  margin: 50px 0 48px;
}
.categories h2 {
  margin: 0 0 40px;
}

.category-card {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 224px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
  padding: 20px 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}
.category-card__img {
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 23px;
  max-width: 225px;
  height: 165px;
}
.category-card__img img {
  max-height: 100%;
}
.category-card__title {
  font-size: 20px;
  font-weight: bold;
}
.category-card__offer {
  width: 100%;
  margin: auto 0 0;
}
.category-card:hover {
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.category-card-all {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 38px;
}
.category-card-all .category-card__title {
  font-size: 24px;
}
.category-card-all .category-card__icon {
  fill: #fff;
  width: 90px;
  height: 90px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-manufacturers {
  padding: 80px 0 26px;
}

.new-manufacturers {
  margin: 53px 0 0;
}

.manufacturer-card {
  position: relative;
  min-height: 348px;
  z-index: 1;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.manufacturer-card .list-tags {
  padding: 15px;
  width: 100%;
  margin: 0 0 auto;
}
.manufacturer-card::before {
  content: "";
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 158px;
  left: 0;
  bottom: 0;
}
.manufacturer-card__image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
}
.manufacturer-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.manufacturer-card .card-body {
  width: 100%;
  padding: 18px 50px 23px 16px;
  margin: 170px 0 0;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.manufacturer-card .link-page {
  position: absolute;
  right: 19px;
  top: 18px;
  fill: #fff;
}
.manufacturer-card .link-page:hover {
  fill: #5B9E44;
}
.manufacturer-card .card-title {
  color: #fff;
}
.manufacturer-card .card-title:hover {
  color: #5B9E44;
}
.manufacturer-card .name-business {
  color: #fff;
}

.maps-farmers {
  margin: 60px 0;
}
.maps-farmers h2 {
  margin: 0 0 47px;
}

.map-wrapper {
  width: 100%;
  height: 702px;
}
.map-wrapper iframe {
  width: 100%;
  height: 100%;
}

.partners-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #666666;
}
.partners-box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 66px;
  width: 67px;
  min-width: 67px;
  margin: 0 10px 0 0;
}
.partners-box__logo img {
  max-height: 100%;
}

.partners .slick-arrow {
  border: 4px solid #FFB800;
  background: transparent;
  stroke: #FFB800;
}

.cooperation {
  margin: 94px 0 0;
}

.cooperation-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #D9D9D9 url("../img/cooperation-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 24px 22px 33px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  border-radius: 10px;
}
.cooperation-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  border-radius: 10px 0px 0px 10px;
  height: 100%;
  max-width: 686px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#5B9E44), to(rgba(91, 158, 68, 0)));
  background: linear-gradient(90deg, #5B9E44 0%, rgba(91, 158, 68, 0) 100%);
}
.cooperation-wrapper h2 {
  color: #fff;
  margin: 0 0 16px;
  font-size: 48px;
}
.cooperation-wrapper .callback-box {
  max-width: 302px;
  margin: 0 0 0 auto;
}
.cooperation-wrapper .box-text {
  margin: 56px 0 0;
  max-width: 490px;
  font-size: 24px;
  line-height: 29px;
}

.cooperation-content {
  width: calc(100% - 302px);
}

.subtitle {
  text-transform: uppercase;
  font-size: 24px;
  max-width: 480px;
  width: 100%;
}

.page-catalog {
  margin: 0 0 100px;
}

.map-box {
  width: 100%;
  height: 1064px;
  display: none;
}
.map-box iframe {
  width: 100%;
  height: 100%;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  font-size: 13px;
  font-weight: 500;
}
.sorting-wrapper p {
  margin: 0 16px 0 0;
  max-width: 95px;
}

.filter-wrapper {
  margin: 0 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-toggle-map {
  margin: 0 0 0 35px;
}
.btn-toggle-map.trigger .btn-icon {
  position: relative;
  width: 14px;
  height: 14px;
}
.btn-toggle-map.trigger .btn-icon svg {
  display: none;
}
.btn-toggle-map.trigger .btn-icon::before, .btn-toggle-map.trigger .btn-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: 1px;
  height: 100%;
  background: #FFB800;
}
.btn-toggle-map.trigger .btn-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-toggle-map.trigger .btn-icon:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.btn-toggle-map.trigger:hover .btn-icon::before, .btn-toggle-map.trigger:hover .btn-icon::after {
  background: #333;
}

.list-category {
  width: 100%;
  margin: 0 0 36px;
  font-size: 14px;
  font-weight: 500;
}
.list-category li {
  margin: 0 0 17px;
}
.list-category li:last-child {
  margin: 0;
}
.list-category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 22px;
  color: #5B9E44;
  border: 1px solid #5B9E44;
  border-radius: 5px;
}
.list-category-link:hover {
  background: #5B9E44;
  color: #fff;
}
.list-category-link.active {
  background: #5B9E44;
  color: #fff;
}
.list-category-link.active .list-category-link__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-category-link__close {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  min-width: 14px;
  margin: 0 0 0 32px;
  position: relative;
}
.list-category-link__close::before, .list-category-link__close::after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: #fff;
  width: 100%;
  height: 1px;
}
.list-category-link__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.list-category-link__close:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.sidebar {
  width: 100%;
  max-height: 686px;
  overflow-y: auto;
  padding: 0 18px 0 0;
}

.panel_heading {
  width: 100%;
  color: #666666;
  border-bottom: 1px solid #B3B3B3;
}
.panel_heading:last-child {
  border: none;
}
.panel_heading h3 {
  font-size: 20px;
  font-weight: bold;
}
.panel_heading h4 {
  font-size: 16px;
  font-weight: bold;
}
.panel_heading .panel_heading {
  border: none;
  margin: 0 0 2px;
}
.panel_heading .panel_heading:last-child {
  margin: 0;
}
.panel_heading .panel_heading .block_title::after {
  background: url("../img/arrow-select2.svg") no-repeat center;
  background-size: 100%;
}

.block_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  cursor: pointer;
}
.block_title::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  min-width: 14px;
  height: 8px;
  background: url("../img/arrow-select.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 auto;
}
.block_title.in::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block_hover {
  width: 100%;
  padding: 4px 0 0 23px;
  display: none;
}

.list-products li {
  margin: 0 0 4px;
}
.list-products li:last-child {
  margin: 0;
}
.list-products li a {
  color: #666666;
}
.list-products li a:hover {
  color: #5B9E44;
}

.sorting-category {
  margin: 18px 0 36px;
  width: 100%;
}

.page-about h1 {
  color: #666666;
  font-weight: normal;
  margin: 0 0 18px;
  font-size: 36px;
  max-width: 679px;
}
.page-about .box-text {
  line-height: 20px;
  max-width: 630px;
}

.about-image {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 543px;
  float: right;
}
.about-image img {
  border-radius: 10px;
}

.about-description {
  margin: 79px 0 0;
  font-size: 20px;
}
.about-description p {
  margin: 0 0 20px;
}

.page-manufacturer h1 {
  color: #000;
  margin: 0 0 10px;
  font-size: 24px;
  max-width: 350px;
}

.similar-manufacturers {
  margin: 60px 0 0;
}

.manufacturer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.position {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 10px;
}

.manufacturer-photo {
  width: 197px;
  height: 197px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
}
.manufacturer-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.manufacturer-info {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 197px);
}

.manufacturer-nav {
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 19px 0 0;
}
.links:last-child {
  margin: 0;
}
.links-icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  margin: 0 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #5B9E44;
}
.links:hover .links-icon {
  fill: #FF0035;
}

.manufacturer-gallery {
  position: relative;
  z-index: 1;
}
.manufacturer-gallery .slick-list {
  width: calc(100% + 325px);
}
.manufacturer-gallery .slick-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 740px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.manufacturer-gallery .slick-slide {
  margin: 0 20px 0 0;
  opacity: 0.5;
}
.manufacturer-gallery .slick-current {
  opacity: 1;
  opacity: 1;
}
.manufacturer-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 305px;
  height: 197px;
}
.manufacturer-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.about-manufacturer {
  margin: 74px 0 80px;
}
.about-manufacturer h2 {
  margin: 0 0 10px;
}

.products-card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #fff;
}
.products-card__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 197px;
  border-radius: 10px 10px 0px 0px;
}
.products-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-card__body {
  width: 100%;
  height: calc(100% - 197px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 14px 17px 9px;
}
.products-card__title {
  color: #000;
  font-weight: bold;
  margin: 0 0 25px;
}
.products-card__title:hover {
  color: #FF0035;
}
.products-card__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #5B9E44;
  font-size: 14px;
  margin: auto 0 0;
}

.price {
  font-weight: bold;
}

.btn-download {
  margin: 0 0 auto auto;
  padding: 10px 24px;
}
.btn-download .btn-icon {
  fill: #fff;
  width: 15px;
  height: 18px;
  min-width: 15px;
  margin: 0 0 0 10px;
}

.callback-manufacturer {
  margin: 38px 0 0;
}

.callback-manufacturer-wrapeper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #5B9E44;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 60px;
}

.callback-manufacturer-box {
  max-width: 521px;
  width: 100%;
  background: url("../img/callback-bg.jpg") no-repeat center;
  background-size: cover;
  border-radius: 5px;
  padding: 39px 36px 15px;
}
.callback-manufacturer-box h2 {
  color: #fff;
  margin: 0 0 25px;
  text-transform: none;
}

.callback-manufacturer-form {
  width: 100%;
}
.callback-manufacturer-form label {
  margin: 0 0 15px;
}
.callback-manufacturer-form input {
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.callback-manufacturer-form input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form input::-moz-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form input:-ms-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form input::-ms-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form input::placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form button {
  width: 100%;
  color: #666666;
  padding: 10px 22px;
  height: auto;
  font-weight: 500;
}
.callback-manufacturer-form .consent {
  margin: 14px 0 0;
  color: #FFFFFF;
  opacity: 1;
  font-size: 10px;
  max-width: 182px;
  text-align: left;
}
.callback-manufacturer-form textarea {
  height: 89px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  background: transparent;
  padding: 24px 10px 10px;
}
.callback-manufacturer-form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form textarea::-moz-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form textarea::-ms-input-placeholder {
  color: #FFFFFF;
}
.callback-manufacturer-form textarea::placeholder {
  color: #FFFFFF;
}

.callback-manufacturer-content {
  width: calc(100% - 521px);
}

.manufacturer-contacts-box {
  color: #000;
  margin: 0 0 23px;
}
.manufacturer-contacts-box p {
  color: #5B9E44;
  margin: 0 0 10px;
}
.manufacturer-contacts-box a {
  color: #5B9E44;
  font-weight: 500;
}
.manufacturer-contacts-box a:hover {
  color: #000;
}

.requizites-box {
  display: none;
}

.btn-toggle-requizites {
  padding: 10px 22px;
}

.map-manufacturer {
  width: 100%;
  height: 448px;
}
.map-manufacturer iframe {
  width: 100%;
  height: 100%;
}

.reviews-wrapper {
  margin: 55px auto 0;
  max-width: 725px;
}