@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 37px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 12px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #B3B3B3;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #B3B3B3;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #B3B3B3;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #B3B3B3;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #B3B3B3;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 12px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 1;
}

.btn-accent {
  background: #5B9E44;
  color: #fff;
  overflow: hidden;
}
.btn-accent:hover {
  color: #fff;
}
.btn-accent:hover:before, .btn-accent:hover::after {
  width: 50%;
}
.btn-accent:before, .btn-accent::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  background: #374D20;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.btn-accent::before {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.btn-accent::after {
  right: 0;
  border-radius: 0 5px 5px 0;
}

.form button {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}
.row > * {
  padding: 0 10px;
}

h1 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 27px;
  color: #4D4D4D;
}

h2 {
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 37px;
  font-size: 24px;
  font-weight: bold;
  color: #4D4D4D;
}

.color-red {
  color: #FF0035;
}

a.color-accent {
  color: #5B9E44;
}
a.color-accent:hover {
  color: #FF0035;
}

.bg-light-grey {
  background: #F9F8F4;
}

.bg-red-gradient {
  background: linear-gradient(108.55deg, #C6494F 14.02%, #B0272E 92.23%);
}

.bg-blue-gradient {
  background: linear-gradient(106.2deg, #82CDD8 6.61%, #1CA0B1 98.12%);
}

.bg-green-gradient {
  background: linear-gradient(105.91deg, #5B9E44 0%, #3A941A 99.31%);
}

.bg-yellow-gradient {
  background: linear-gradient(107.22deg, #FFCD54 2.5%, #EBA600 98.61%);
}

.bg-orange-gradient {
  background: linear-gradient(106.07deg, #FEC878 3.12%, #E9A43F 100%);
}

.bg-black {
  background: #000000;
}

.wrapper {
  padding: 77px 0 0;
  width: 100%;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slider-products .slick-slide {
  height: auto;
  padding: 0 10px;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.link-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  fill: #5B9E44;
}
.link-page:hover {
  fill: #FF0035;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}